<footer id="footer"class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("icon.png", id: "footer-icon")%>
    </div>
    <div class="col-sm-6 text-center">
      <h1 id="text01">contact@showmetheapps.co</h1>
    </div>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
   image_tag('landing_icon.png', width: "30%") 
</footer> -->