<div id="header">
<div class="nav navbar-default navbar-fixed-top">
  <div class="container">
    <!-- <div class="navbar-header"> -->
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#" id="header-icon">
        <%= image_tag('icon.png', width: "100%", hegith: "100%")%>
      </a>

      <a href="#contact-container" class="button pull-right" id="header-button">
        <button name="submit" type="submit" id="contact-submit" onClick="<%= analytics_track_event "Button", "Click", "<Header Section>Contact button" %>">
              무료신청
        </button>
      </a>
    <!-- </div> -->
    
    <!-- <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          
          
        </li>
      </ul>
    </div> -->
  <!-- </div> -->
</div>
</div>
</div>

