<div id="experience-desc-container" class="section">
	<div class="container bolder-bottom">
		<div class="row">
			<div class="col-sm-6" id="row-right">
				<%= image_tag('5.png', class: "img-responsive") %>
			</div>
			<div class="col-sm-6" id="row-left">
				
				<h1 class="text-right" id="experience-text01">화면캡쳐들의 순서를 연결하여</h1>
				<h1 class="text-right" id="experience-text02"><strong>#실제 APP</strong>의 체험이 가능합니다.</h1>
				<h3 class="text-right" id="experience-text03"></h3>
				<h3 class="text-right" id="experience-text04"></h3>
			</div>
		</div>
	</div>
</div>

<script>
if ($(window).width() < 768) {
      $("#experience-text03").html("화면캡쳐에서 클릭(터치)이<br>가능한 부분을 설정해주세요.");
      $("#experience-text04").html("유저들의 app의 체험에 대한 만족은<br>app설치로 이어집니다.");
    } else {
      $("#experience-text03").html("화면캡처에서 클릭(터치)이 가능한 부분을 설정해주세요.");
      $("#experience-text04").html("유저들의 app의 체험에 대한 만족은 app설치로 이어집니다.");
    }
  $(window).resize(function() {
    if ($(window).width() < 768) {
      $("#experience-text03").html("화면캡쳐에서 클릭(터치)이<br>가능한 부분을 설정해주세요.");
      $("#experience-text04").html("유저들의 app의 체험에 대한 만족은<br>app설치로 이어집니다.");
    } else {
      $("#experience-text03").html("화면캡처에서 클릭(터치)이 가능한 부분을 설정해주세요.");
      $("#experience-text04").html("유저들의 app의 체험에 대한 만족은 app설치로 이어집니다.");
    }
  });
  
</script>



<!-- <div id="realtime-desc-wrap" class="container">
	<div class="row">
	    <div id="row-left" class="col-md-6 col-md-push-6 text-left">
	        <h1>스크린샷을 연결하여</h1>
	      	<h1>실제 <strong>APP 사용감을</strong>줍니다.</h1>
	      	<br>
	      	<h4>스크린샷에 클릭가능한 부분을 설정할수 있습니다.<br>
	      		효과적으로 APP설치를 유도합니다.</h4>
		</div>


	    <div id="row-right" class="col-md-6 col-md-pull-6 ">
	    	  
	    </div>
	</div>
</div> -->