	<div id="screenshot-desc-container">
      <div class="container bolder-bottom">
        <div class="row">
          <div class="col-sm-6" id="row-left">
            <h1 class="text-left" id="text01">광고하고 싶은 화면을</h1>
            <h1 class="text-left" id="text02">캡처해서 보내주세요.</h1>
            <h1 class="text-left" id="text03"><strong>#키워드를 알아서 인식</strong>합니다.</h1>
            <!-- <h1 class="text-left">캡처해서 보내주세요.</h1> -->
            <!-- <h1 class="text-left"></h1> -->
            <h3 class="text-left" id="text04">최고의 문자인식기술(OCR)을 사용하여</h3>
            <h3 class="text-lift" id="text05">포털에 등록 될 핵심키워드를 자동으로 추출합니다.</h3>
          </div>
          <div class="col-sm-6" id="row-right" style="margin: 0 auto;">
          	<div class="img-center">
          		<%= image_tag('3.png', class: "img-responsive") %>
          	</div>
            <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"> -->
          </div>
        </div>
      <!-- <div class="bolder-bottom"></div> -->
    </div>
</div>
<!-- <div id="screenshot-desc-wrap" class="container">
	<div class=row>
	    <div id="row-left" class="col-sm-6 col-xm-12">
	      <h1><strong>스크린 샷만</strong> 보내주세요</h1>
	      <h1>알아서 키워드를 추출.</h1>
	      <br>
	      <h4>최고의 문자인식기술(OCR)을 이용합니다.<br>
	      	포털에 등록된 핵심키워드를 자동으로 추출합니다.</h4>
		</div>

	    <div id="row-right" class="col-sm-6 col-xm-12">
	        image_tag('landing_desc_03.png') 
	    </div>
	</div>
</div> -->