	<div id="screenshot-desc-container">
      <div class="container bolder-bottom">

        <div class="row">
          <div class="col-sm-push-6 text-block" id="row-left">
              <%= image_tag('3.png', class: "img-responsive") %>
          </div>
          <div class="col-sm-pull-6" id="row-right">
          	
            <h1 class="text-left" id="screenshot-desc-container-text01">광고하고 싶은 화면을</h1>
            <h1 class="text-left" id="screenshot-desc-container-text02">캡쳐해서 보내주세요.</h1>
            <h1 class="text-left" id="screenshot-desc-container-text03"><strong>#키워드</strong>를 알아서 인식합니다.</h1>
            <!-- <h1 class="text-left">캡처해서 보내주세요.</h1> -->
            <!-- <h1 class="text-left"></h1> -->
            <h3 class="text-left" id="screenshot-desc-container-text04">최고의 문자인식기술(OCR)을 사용하여</h3>
            <h3 class="text-lift" id="screenshot-desc-container-text05"></h3>
            <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"> -->
          </div>
        </div>
      <!-- <div class="bolder-bottom"></div> -->
    </div>
</div>

<script>
  if ($(window).width() < 768) {
      $("#screenshot-desc-container-text05").html("포털에 등록된 핵심키워드를<br>자동으로 추출합니다.");
    } else {
      $("#screenshot-desc-container-text05").html("포털에 등록된 핵심키워드를 자동으로 추출합니다.");
    }
  $(window).resize(function() {
    if ($(window).width() < 768) {
      $("#screenshot-desc-container-text05").html("포털에 등록된 핵심키워드를<br>자동으로 추출합니다.");
    } else {
      $("#screenshot-desc-container-text05").html("포털에 등록된 핵심키워드를 자동으로 추출합니다.");
    }
  });
  
</script>



<!-- <section id="features">
    <section>
        <div class="container">
            <div class="row">
                <div class="section1">        
                    <div class="col-sm-6 text-block">
                        <h2>문자를 외울 필요 없어요. <br> <b>복사하면</b> 알아서 입력.</h2>
                        <h3>보낼 금액, 은행명까지 입력할 수 있습니다. <br> 그리고 암호만 입력하면 간단하게 송금 완료.</h3>

                        <a href="https://www.youtube.com/embed/H2rKGUc0ZrA?rel=0&amp;autoplay=1&amp;한controls=1&amp;showinfo=0" data-toggle="modal" data-target="#videoModal-1"><h3><img src="/assets/img/icon-playx2.png"><span>동영상으로 보기</span></h3></a>


                    </div>

                    <div class="col-sm-6 img-block">
                    <img src="/assets/img/img-section1x2.png">
                    </div>

                    
                    <div class="modal fade" id="videoModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">

                        <div class="modal-content modal-video">
                            <div class="modal-body">
                                <embed src="https://www.youtube.com/v/H2rKGUc0ZrA?hl=ko_KR&amp;version=3&amp;vq=hd720&amp;autoplay=1&amp;loop=0&amp;showinfo=0&amp;controls=1&amp;rel=1&amp;start=0" type="application/x-shockwave-flash" width="720" height="480" allowscriptaccess="always" allowfullscreen="true">

                                <a class="icon-close" data-dismiss="modal"><img src="/assets/img/icon-close-round-white.png"> <sapn>닫기</sapn></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->