@font-face {
    font-family: 'nanumsquareR';
    src: asset-url('NanumSquareR.ttf') format('truetype');
    
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bebasneue';
	src: asset-url('BebasNeue.otf') format("truetype");

	font-weight: normal;
	font-style: normal;
}