
@font-face {
	font-family: 'Kopub-Light';
	src: asset-url('KoPubDotumLight.ttf') format('truetype');
    
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kopub-Medium';
	src: asset-url('KoPubDotumMedium.ttf') format('truetype');
    
    font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kopub-Bold';
	src: asset-url('KoPubDotumBold.ttf') format('truetype');
    
    font-weight: normal;
	font-style: normal;
}