<div id="commentwrap">
	<div class="container">
		<div class="row display-table">
			<div class="col-md-6 display-cell">
				<%= image_tag('landing_user_01.png', width: '20%')%>
				<p style="padding-top: 21px;">
					앱이름으로 검색하는 방법외에는 사용자가 우리 앱을<br>
					찾을 수가 없어서 "어떻게 우리 앱의 이름을 알릴까"<br>
					고민했는데,<br>
					쇼미더앱스는 <strong>각종 키워드검색으로도 유입</strong>이 되니<br>
					사용자가 우리 앱을 <strong>쉽게</strong>만날 수 있겠네요!<br>
					우리가 <strong>스크린샷을 많이 할수록 사용자도 높겠죠?</strong>
				</p>
			</div>

			<div class="col-md-6 display-cell">
				<%= image_tag('landing_user_02.png', width: '20%')%>
				<p style="padding-top: 21px;">
					다른 광고회사들은 우리가 키워드를 정하고 텍스트로<br>
					줘야해서 번거롭고 신경이 많이 쓰였는데<br>
					<strong>스크린샷만으로 알아서 모든 키워드를 텍스트</strong>로<br>
					만들고 또 <strong>네이버에 검색까지</strong>되게 해주다니!<br>
					빨리 정식버전을 사용하고 싶네요...<br>
					정말 기대됩니다!
				</p>
			</div>

		</div>
	</div>
</div>