<div id="contactwrap">
	<div class="container">
		<h1><lead>SHOW ME THE APPS</lead>의 정식버전을 제일 먼저 알려드릴께요!</h1>

<!-- 		<form class="form-inline" id="contact">
			<div class="form-group">
				<input class="form-control col-xs-8 col-sm-6" placeholder="이메일주소를 알려주세요! 우리는 User의 정보를 안전하고 소중히 간직합니다">
				<button type="submit" class="btn btn-primary col-xs-4 col-sm-6">보내기</button>
			</div>
		</form> -->

		<%= form_tag( '/mail', {method: "post", id: "contact", class: "form-inline"}) do %>
          <%= text_field_tag :email, nil,{placeholder: '이메일주소를 알려주세요! 우리는 User의 정보를 안전하고 소중히 간직합니다', tabindex: '1', :required => "autofocus"} %>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        <% end %>

		<br>
		<h1 style="text-align: right;">무료광고의 기회를 100명에게 드립니다!<small style="padding-left: 30px;"> 현재 신청수</small> 98명</h1>
		<!-- <h1 style="padding-left: 230px; padding-bottom: 29px;">무료광고의 기회를 100명에게 드립니다!<small style="padding-left: 30px;">현재 신청수</small> 98명</h1> -->

	</div>
</div>