<div id="descwrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 text-center">
				<%= image_tag('landing_desc_02.png', height: '363px')%>
				<h2>스크린샷을<br>업로드해주세요</h2>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 text-center">
				<%= image_tag('landing_desc_03.png', height: '363px')%>
				<h2>텍스트(키워드)를<br>추출합니다</h2>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 text-center">
				<%= image_tag('landing_desc_04.png', height: '363px')%>
				<h2>네이버에 키워드가<br>등록됩니다</h2>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 text-center">
				<%= image_tag('landing_desc_05.png', height: '363px')%>
				<h2>네이버에 나의 앱이<br>검색됩니다</h2>
			</div>
		</div>
	</div>
</div>