<div id="footerwrap">
	<div class="container">
		<div class="row display-table">
			
			<div class="col-xs-6 display-cell">
				<%= image_tag('landing_icon.png', width: '100%')%>
			</div>

			<div class="col-xs-6 display-cell">
				<div id="c">
					<p>
						contact@showmetheapps.co / Tel. 123-456-7890<br>
						Copyright  2016 (주)쇼미더앱스
					</p>
					
					
				</div>
			</div>
		</div>
	</div>
</div>