<div id="smtawrap">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-6 vertical-align">
				<h1>
					<strong>쉽고</strong> 스크린샷만 업뎃<br>
					<strong>빠르고</strong> 1분안에<br>
					<strong>효과적인</strong> 검색유입의 확실한 증가<br>
					<strong>APP광고</strong>
				</h1>
			</div>
			

			<div class="col-xs-12 col-sm-6 vertical-align" style="width: 400px; height: 400px;">
				<%= image_tag('landing_desc_01.png', width: '100%', height: '100%')%>
			</div>
		</div>

    </div>
</div>